@media screen and (max-width:480px){
    #sec-2{
        height: 415px;
        background-image: url(images/bg-home.jpg);
        background-size:contain;
        background-repeat: no-repeat;
        position: relative;
    }
    .part1{
        width: 150px;
        height: 130px;
        background-color: #c8c10d;
        border-radius: 50%;
        position: absolute;
        bottom: 35px;
        right: 185px;
    }
    .part2{
        width: 150px;
        height: 130px;
        background-color: rgb(214, 45, 102);
        opacity: 0.8;
        text-align: center;
        padding-top: 40px;
        border-radius: 50%;
        position: absolute;
        left: 15px;
        bottom: 15px;
    }
    .part2 h2{
        font-size: 1.5rem;
        color: rgba(255, 255, 255,1);
    }
    #row2{
        width: 70vw;
    }
    #sec-4-1{
        width:98vw;
        height: 605vh;
    }
    hr{
        display: none;
    }
    #img{
        width: 80vw;
        margin-left: 0;
    }
    #about{
      
        height: 40vw;
    }
    #sec-2-2{
        height: 78vh;
        background-image: url(images/map.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 30px;
    }
    #img1{
        width:70px; 
        height:120px; 
        margin-left: 150px;
    }
    #sec-3-1{
        padding: 0px;
        background-color: white;
    }
    #sec-6{
        height: 200vh;
    }
}